
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #FFA647, #FF6F91);
    font-family: 'Poppins', sans-serif;
}
.logo {
    font-size: 80px;
    font-weight: bold;
    margin-right: 20%;
    text-transform: uppercase;
    margin-top: -70px;
    letter-spacing: 2px;
    background: linear-gradient(to right, #fff, #f3b8c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.highlight {
    font-family: 'Playfair Display', serif;
    color: #f75178;
}


.container{

    margin-left: -150px;
}

    h2 {
        text-align: center;
        color: #fafafa;
        margin-bottom: 16px;
       
    }
    
    label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
        color: #fffdfe;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
    }
    input {
        width: 95%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #f3b8c6;
        border-radius: 5px;
        outline: none;
        transition: border 0.3s;
    }
    input:focus {
        border-color: #fa547a;
    }
    button {
        width: 40%;
        padding: 10px;
        background-color: #f72866;
        color: rgb(250, 244, 244);
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 15px;
        transition: background 0.3s;
    }
    button:hover {
        background-color: #faa777;
    }